<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shortten Url</title>
    <link href="CDM.css" rel="stylesheet" type="text/css">
  </head>
<body>


<form class="box" action="thehtml.html" method="post">
  <h1>Redirect home</h1>
  <input type="shortlink" placeholder="Shortlink" id="shortlink" value=""/><br>
  <input type="shortlink" placeholder="longlink" id="longlink" value=""/><br>
  <input type="submit">
</form>

<p id="demo">{{result}}</p>


</body>
</html>